
/*///////////////////////////////////////////////////////////////////////////*/
/*                                                                    Title  */
/*///////////////////////////////////////////////////////////////////////////*/

#title img {
   max-width: 150px;

   display: block;
   margin: 0 auto;
   margin-top: 0.5em;
   margin-bottom: 1.5em;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#title {
  /*float: left;*/
  background-color: none;
  margin-top: 0.1em;
  text-align: center;
}

.title {
  text-align: center;
}
.title h1 {
  margin-bottom: .2em;
}

h2 {
  padding: 0;
}

a, i, b {
  background: transparent;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                  Animated Line Separator  */
/*///////////////////////////////////////////////////////////////////////////*/

/*https://css-tricks.com/animate-to-an-inline-style/*/

.line-separator{
  height:3px;
  background:#323d55;
  border-top:1px solid #c0c0c0;
  border-bottom:1px solid #c0c0c0;
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 0.2em;
}

@-webkit-keyframes progress-bar {
   0% { width: 0; }
}
@-moz-keyframes progress-bar {
   0% { width: 0; }
}
@keyframes progress-bar {
   0% { width: 0; }
}

.progress-bar > div { 
  -webkit-animation: progress-bar 1s;
  -moz-animation: progress-bar 1s;
  animation: progress-bar 1s;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                             Bibliography  */
/*///////////////////////////////////////////////////////////////////////////*/

.CV-content, .publications-content {
  display: none;
}

h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0.5em auto;
}


/*///////////////////////////////////////////////////////////////////////////*/
/*                                                         Curriculum Vitae  */
/*///////////////////////////////////////////////////////////////////////////*/
.CV-content.row p {
  font-size: 0.8em;
}

#cd-timeline {
  position: relative;
  padding: 1em 0;
/*  margin-top: 1em;
  margin-bottom: 1em;*/
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
  display: none;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  display:none;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*border: 1px solid black;*/
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px black, 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img.PhD {
  background: #c03b44;
}
.cd-timeline-img.Master {
  background: #f0ca45;
}
.cd-timeline-img.DUT {
  background: #75ce66;
}
.cd-timeline-img.until-highschool {
  background: #03A9F4;
}

.cd-timeline-content {
  position: relative;
  /*margin-left: 60px;*/
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 3px 4px 0 #d7e4ed;
  text-align: left;
}
.cd-timeline-content h2 {
  margin: 1em auto;
  font-size: 1em;
}
.cd-timeline-content > * {
  background: white;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content .cd-date {
  /*float: left;*/
  padding: .8em 0;
  opacity: .7;
  background: transparent;
}



/*///////////////////////////////////////////////////////////////////////////*/
/*                                                       Responsive Section  */
/*///////////////////////////////////////////////////////////////////////////*/

@media (min-width:481px) {

  .CV-content {
    /*width: 90%;*/
    margin: 0 auto;
  }

}

@media (min-width:641px) {
  #title {
    padding-bottom: 1.5em;
  }
  #title img {
    float: left;
    display: inline;
    vertical-align:bottom;
    max-height: 180px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .title {
    float: left;
    text-align: left;
    margin-top: 3em;
    margin-left: 2em;
  }

  #cd-timeline::before {
    display: block;
    z-index: 1;
  }
  .cd-timeline-img {
    display: block;
    z-index: 2;
  }
  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100.3%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    /*border-right: 7px solid white;*/
  }
  .cd-timeline-content {
    margin-left: 60px;
    padding-bottom: 0;
  }
/*  i {
    font-size: 1em;
    background: transparent;
  }*/
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 1.25em;
  }
  .cd-timeline-content p {
    font-size: 1em;
  }
  .cd-timeline-content .cd-date {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1170px) {
  /*set the specific color for CV cards arrows*/
  .cd-timeline-content.PhD::before {
    border-right: 7px solid #c03b44;
  }
  .cd-timeline-content.Master::before {
    border-right: 7px solid #f0ca45;
  }
  .cd-timeline-content.DUT::before {
    border-right: 7px solid #75ce66;
  }
  .cd-timeline-content.until-highschool::before {
    border-right: 7px solid #03A9F4;
  }
}


@media only screen and (min-width: 1170px) {
  .cd-timeline-content h2 {
    font-size: 1.5em;
  }
/*
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }*/
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  
  .cd-timeline-content {
    margin-left: 0;
    padding: 0 1em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    /*border-color: transparent;*/
    /*border-left-color: white;*/
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    /*font-size: 16px;*/
    /*font-size: 1rem;*/
    font-size: 1em;
  }

  #cd-timeline {
    max-width: 80%;
  }

  .cd-timeline-block {
    /*max-width: 80%;*/
    margin: 0 auto;
    margin-bottom: 1em; 
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    /*border-color: transparent;*/
    /*border-right-color: white;*/
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  /*set the specific color for CV cards arrows*/
  .cd-timeline-content.PhD::before {
    border-left: 7px solid #c03b44;
  }
  .cd-timeline-content.Master::before {
    border-right: 7px solid #f0ca45;
  }
  .cd-timeline-content.DUT::before {
    border-left: 7px solid #75ce66;
  }
  .cd-timeline-content.until-highschool::before {
    border-right: 7px solid #03A9F4;
  }
  .bibentry {
    font-size: 1.1em;
  }
}

.bibentry {
    font-size: 0.8em;
    padding-bottom: 0.6em;
  }

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) { 
  .bibentry {
    font-size: 0.9em;
  }
  .bibentry {
    font-size: 1em;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) { 
  .bibentry p,
  .bibentry b,
  .bibentry i {
    font-size: 1em;
  }
}
