/*///////////////////////////////////////////////////////////////////////////*/
/*                                                           Primary Styles  */
/*///////////////////////////////////////////////////////////////////////////*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    color: #212121;
    background-color: #F5F5F5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
    }

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both; 
      }
     
[class*='column-'] {
    /*float: left;*/
    padding: 1em;
    width: 100%;
    min-height: 1px;
    /*margin-bottom: 1em;*/
    text-align: justify;
    }

a {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

p { 
    /*float: left;*/
    font-family: "adobe-caslon-pro", georgia, serif;
    font-size: 0.9em;
    line-height: 1.2;
    margin-bottom: 1.2em;
}

h1 {
    font-family: "PT Sans", sans-serif;
    margin-bottom: 0.2em;
    font-size: 1.5em;
}

h2 {
    font-family: "PT Sans", sans-serif;
    /*margin-top: 1em;*/
    font-size: 1.4em;
}

h3 {
  font-family: "PT Sans", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
}


/*///////////////////////////////////////////////////////////////////////////*/
/*                                                       Responsive Section  */
/*///////////////////////////////////////////////////////////////////////////*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) { 
  h1 {
    font-size: 1.6em;
  }
  i {
    font-size: 1.1em;
  }
  p {
    font-size: 1em;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) { 
  .column-1 { width: 8.33333%; }
  .column-2 { width: 16.66667%; }   
  .column-3 { width: 25%; }   
  .column-4 { width: 33.33333%; }   
  .column-5 { width: 41.66667%; }   
  .column-6 { width: 50%; }   
  .column-7 { width: 58.33333%; }   
  .column-8 { width: 66.66667%; }   
  .column-9 { width: 75%; }   
  .column-10 { width: 83.33333%; }   
  .column-11 { width: 91.66667%; }   
  .column-12 { width: 100%; }
  .wrapper {
    width: 95%;
    max-width: 1025px;
  }
  h1 {
    font-size: 2em;
  }
  i {
    font-size: 1.3em;
  }
  p {
    font-size: 1.1em;
  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) { 
  h1 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.3em;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
  h3 {
    font-size: 1.4em;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  h1 {
    font-size: 2.4em;
  }
  p {
    font-size: 1.2em;
  }

}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
}
